[2019-07-02 01:21] starbelly opened #1 "Implement static blog per working group"
We need a static blog per working group using phoenix_markdown to render markdown files. The MVP for this create controller(s), routes, and templates for each blog. In the end, users will be able to send a PR to the repo adding either a markdown file or eex file for a new post.
 We also need a blog for our events calendar. See #2 for mail details.

[2019-07-02 01:23] starbelly opened #2 "Integrate calendar"
The current events calendar and feed is a wordpress plugin. Ideally we can do an alternative calendar events widget and feed in order to get away from wordpress. This will require some research.

Reference: https://erlef.org/events/

[2019-07-02 01:24] starbelly commented on #2
https://fullcalendar.io seems the best alternative the way to go IMO. This will be a small bit of work however. We need to first mimic the style of events calendar which isn't hard. However, we will also need to provide blog integration. When you click on an event in from the events list on erlef.org it takes you to a blog entry. Therefor this is blocked by #1

[2019-07-02 01:25] starbelly opened #3 "New mailchimp form"
The current mailchimp for was made to work with wordpress. We simply need someone with mailchimp access to go in and build a new form not tied to wordpress and update the form in the app.

[2019-07-02 01:26] starbelly opened #4 "Reconcile differences between content in app and live site"
There are some minor differences in content between what's currently in the app and what's live on the site right now. This need to be enumerated and worked into the app.

[2019-07-02 01:27] starbelly opened #5 "Reconcile style differences between app and live site."
There are some minor style differences between the app and the live site. As an example, while both use the same font, they appear a little bit different. The differences need to be enumerated here, then broke up into issues. In some cases, we may prefer how something looks or is laid out in the app vs the site.

[2019-07-02 01:28] starbelly opened #6 "Voting system"
The site needs to integrate with the voting system that Benoit suggested.

[2019-07-02 02:06] starbelly opened #7 "Read in page templates to create static page routes"
Currently there is a static map defined in the page controller. For the moment, we want to read in the directory listing of `lib/erlef_web/templates/page/` on boot to create this map. This requires adjusting the location of all the "pages" in said dir so that the structure reflects the routes in the `@static_pages` attribute in the page controller.

[2019-07-07 20:08] starbelly commented on #2
This will be unblocked shortly and is up for grabs.

[2019-07-07 20:10] #1 closed

[2019-07-12 16:37] #7 closed

[2019-07-13 23:08] gamebox opened #14 "Remove/upgrade vulnerable NPM packages"
An audit of the current packages.json yields 4 vulnerable packages:

[code]

[2019-07-13 23:08] gamebox commented on #14
Feel free to assign to me.  I'll have a PR tonight

[2019-07-13 23:51] starbelly commented on #14
@gamebox 👍

[2019-07-15 17:38] gamebox commented on #6
Seems like we would need to run a separate instance for this service.  But we could easily create a docker image to deploy it.  Should be relatively easy depending on IaaS/PaaS.

One possible concern is that it seems that voting can only occur after logging in with a Facebook or Google account.  I think most people should have one or the other, but it _may_ leave some members without such an accou

[2019-07-15 17:38] gamebox commented on #4
I'll look into mapping this out this week.

[2019-07-15 18:22] gamebox opened #17 "Clean up PHP references in EEX templates"
There are a few straggling PHP references sprinkled around the templates, mostly of the form:

[code]

Let's get the definition of this php function and replace the calls with the appropriate `eex` or static html as appropriate

[2019-07-15 18:23] starbelly commented on #17
Haha yeah, I thought about us leaving this as a historical joke... but yeah, needs a 🔪 taken to it.

[2019-07-15 18:25] starbelly commented on #6
This should not require another service. We should be able to integrate from the client side. However, that is an interesting point you raised. Not everyone is going to have facebook, google, etc. and/or willing to make an account. So, need to think about that some more 🤔

[2019-07-15 19:13] gamebox commented on #17
I'm wondering if `the_title(...)` provided some sort of string content?  It's often contained in an empty `<header>` tag.  Some of the pages that have it have no `<h1>` or `<h2>` tags at all.  There is also still some `jetpack` specific classes attached

[2019-07-15 19:14] gamebox commented on #6
Re: the service.  It wasn't obvious from the documentation how to use this as a third-party service.  If there is in fact an API to talk to a service with hosted elections, please point that out.

[2019-07-15 19:16] starbelly commented on #17
Not sure. Wouldn't really worry about that, rather just making sure we have all the content in sync (doesn't mean looking exactly the same). Some of that is of course in flux at the moment and will remain so until @desmondmonster can chime in (he's traveling right now).

[2019-07-15 19:18] gamebox commented on #17
Sounds good

[2019-07-15 19:18] starbelly commented on #6
I think it's more of a embed this form on your static site type of offering. I could be wrong, I have not looked at in detail yet.

[2019-07-16 22:01] #14 closed

[2019-07-16 22:04] desmondmonster commented on #17
@gamebox I agree with @starbelly that we can simply excise the php code if the final layout looks okay.  At "some point" in the future we'll do a more thorough site refresh and can make sure all the h1s and h2s are what/where they should be.  In the meantime, if it looks good, 🚢

[2019-07-16 22:24] gamebox commented on #17
Sounds good.

On Tue, Jul 16, 2019, 15:04 Desmond Bowe <notifications@github.com> wrote:

[2019-07-17 00:04] gamebox commented on #4
I've got a doc in progress outlining these differences.  I'll upload as a gist and link here when ready so we can work together to create the necessary issues.

[2019-07-17 00:04] gamebox commented on #5
I've got a doc in progress outlining these differences.  I'll upload as a gist and link here when ready so we can work together to create the necessary issues.

[2019-07-17 03:43] gamebox opened #18 "Update packages to combat new lodash SEVERE vulnerability"
This was just published on 7/15/19.  https://www.npmjs.com/advisories/1065

This dep is used over 560 times in our dependency tree

[2019-07-17 17:00] gamebox opened #19 "Add "Become a Sponsor!" link to nav"
This page exists in the prod site, but not here.

[2019-07-17 17:05] gamebox opened #20 "Fix navbar site branding and fonts"
The font is not loading correctly, and there are some strange alignment and padding issues in this area.

[2019-07-17 17:14] gamebox commented on #19
I guess it's an open question whether we still want this page since it was not migrated with the rest of the site.  Was that oversight or intentional?

[2019-07-17 17:35] gamebox opened #22 "Align Sponsors page with existing site"
Moving back to the card format, and no border around the sponsor logos.

[2019-07-17 17:36] gamebox commented on #22
Here's what I currently have.  Let me know what you think and I'll send a PR:

![localhost_4000_sponsors_(iPad Pro)](https://user-images.githubusercontent.com/1380687/61397404-af2fc580-a87e-11e9-81e1-d0a9c5e8bcec.png)

[2019-07-17 19:09] starbelly commented on #18
Will gladly take a PR. One thing to keep in mind is this app currently nodejs is limited to our asset pipeline. That said, I'm all for getting rid of insecure packages either via upgrade or removal when possible.

👍 ❤️

[2019-07-17 19:09] starbelly commented on #20
This is what I alluded to in #5.

[2019-07-17 21:25] gamebox opened #23 ""About us" page header image can not load."
Can we find an alternative to https://i2.wp.com/erlef.org/wp-content/uploads/2019/02/leaves3.png

It seems like maybe it was deleted?

Or do we not actually want this page at all, since it doesn't exist in prod/WP?

[2019-07-17 21:32] gamebox opened #24 "Include footer in all pages"
Currently, the footer only shows on the home page.  To bring to parity with prod, let's include in the app layout so all pages have it

[2019-07-18 00:04] #20 closed

[2019-07-18 00:14] starbelly commented on #24
That make sense  to me, our footer as far as the twitter feed and event list in the footer I'm not sure about though. I suppose this is a decision best left to a designe perhaps, but 100% agree the footer should be on every page. @desmondmonster thought?

[2019-07-18 00:15] starbelly commented on #23
RIght so this was done as in a POC with static site generators. The page exists in wordpress, but was never published. Since it's not on the live site right now, I say this can go.

[2019-07-18 17:31] gamebox commented on #23
Sounds good

[2019-07-18 17:38] gamebox opened #25 "Add favicon / icon for site"
Using image from WP site.

[2019-07-20 17:54] starbelly commented on #18
Oh, npmjs... yeah I looked at this again and while it seems mostly limited to runtime, it's still nasty.

[2019-07-20 18:02] #18 closed

[2019-07-23 01:20] starbelly commented on #19
Definitely an oversight, will fix up.

[2019-07-23 02:47] #2 closed

[2019-07-23 02:48] starbelly commented on #25
Closed via #15

[2019-07-23 02:48] #25 closed

[2019-07-23 02:48] starbelly commented on #23
Closed via #15

[2019-07-23 02:48] #23 closed

[2019-07-23 02:48] starbelly commented on #19
Closed via #15

[2019-07-23 02:48] #19 closed

[2019-07-23 02:48] starbelly commented on #17
Closed via #15

[2019-07-23 02:48] #17 closed

[2019-07-31 15:58] desmondmonster commented on #24
@gamebox  yeah, let's put the footer everywhere.  if we want to change the footer content, that's fine...perhaps the latest tweets only need to be shown on the homepage, in which case they can be extracted from the footer.

[2019-07-31 15:58] desmondmonster commented on #22
@gamebox looks great!

[2019-08-03 17:49] starbelly commented on #22
Sorry @gamebox I might have stepped on your toes on this one 🤦‍♂ I quickly updated the sponsors page last night forgetting this issue was open. Marking this as closed via #29.

[2019-08-03 17:49] #22 closed

[2019-08-03 23:52] starbelly commented on #3
Closed via #28

[2019-08-03 23:52] #3 closed

[2019-08-03 23:58] starbelly commented on #24
For the moment, I just included the footer in all the pages via the layout. Can figure out the design details later.

Closed via #32

[2019-08-03 23:58] #24 closed

[2019-08-04 01:15] starbelly commented on #4
Most of these issues I believe have. been squashed. I'll close this. Remaining issues should be opened up as one-offs.

[2019-08-04 01:15] #4 closed

[2019-08-04 01:16] starbelly commented on #5
The bulk of this is done, so am closing this issue. Any remaining issues should be opened up as on-offs.

[2019-08-04 01:16] #5 closed

[2019-08-04 01:17] starbelly opened #35 "Missing news route for working-groups"
Currently on the live site we have posts as "wg" or working-groups. I think perhaps that these posts should be under "eef" (i.e., /news/eef). While I have added the actual post in the repo, it is currently not displayed anywhere.

[2019-08-05 03:08] joaquinalcerro commented on #35
@starbelly

What you have right now is that you call the news by id (ej. /news/time-is-running-out) and works but what you are trying to achieve is:
1. Show the news for each working group separately
2. The id will represent the working group name
3. Create a folder under the post directory for each working group name
4. New posts should go under its respective working group

So, to call a post we

[2019-08-05 16:47] starbelly commented on #35
Correct. The way it is currently setup is to "query" multiple blogs to find the post. The way you suggest is indeed how it was originally and I don't have an issue going back to that.

 I think the rationale for the current method was shorter url's and less setup. Let's see what @desmondmonster thinks.

[2019-08-05 19:23] joaquinalcerro commented on #35
Well, it's not me trying to go back. I was just trying to understand the issue to work on it. Lets wait for @desmondmonster comments.

As I understand, we have been avoiding to use a database but checking the other issue, the voting system, I went to the https://www.heliosvoting.org website and the requirements include a PostgreSQL Database so I am thinking that if we are finally going to add a da

[2019-08-05 21:52] starbelly commented on #35
I see. I misunderstood. I'm not strongly tied to either way that being said.

 As for helios voting, that option is still not set in stone and before I could comment on a time frame that option definitely needs to be set in stone 😁

[2019-08-06 20:01] starbelly commented on #35
See https://github.com/erlef/website/pull/38

[2019-08-08 01:33] starbelly commented on #35
@joaquinalcerro My plate if a bit full. I opened up #38 merely as a brain storm, would you like to grok what was done and start a new PR?

[2019-08-08 02:34] joaquinalcerro commented on #35
Sure, I will give it a try and creating a new PR. Cool.

[2019-08-08 02:52] starbelly commented on #35
Awesome! ❤️ Once you get a PR open I will close my draft.

[2019-08-14 00:00] gamebox commented on #6
Sorry I've been a little quiet recently.  Would like to look into more this week.

[2019-08-18 16:58] starbelly commented on #35
Closed via #39

[2019-08-18 16:58] #35 closed

[2019-08-18 17:03] starbelly commented on #6
Closing this until a voting system has been decided on.

[2019-08-24 03:36] gamebox commented on #6
I think the most important thing to do here is to think out loud about exactly the requirements are for any voting system that we would wish to adopt.

Here's a list of voting systems that are not open source: https://www.capterra.com/voting-software/?utf8=%E2%9C%93&feature%5B1%5D=27595&platform%5B1%5D=8&commit=Apply+Filters&sort_options=

I've went through open source options, and nothing really

[2019-08-24 17:59] joaquinalcerro commented on #6
So we had a small email chat with @starbelly about this issue. Creating a voting system from the ground up will be a challenge and time consuming so, IMO if we want it fast, we should integrate one.

I found a Voting System that is in beta now and will be offered as a service. It is actually a serverless application hooked to the ethereum blockchanin. @starbelly as going to talk with other members

[2019-08-24 20:40] gamebox commented on #6
No problem.  I'm available to help on the integration if need be.

On Sat, Aug 24, 2019, 10:59 Joaquin Alcerro <notifications@github.com>
wrote:

[2019-08-25 01:21] joaquinalcerro commented on #6
Cool... 😎.

Let's wait for their feedback and take it from there.

Best regards

[2019-08-27 19:57] starbelly opened #43 "Simplify calendar event creation using google calendar"
Currently adding an event is mostly a manual job, lots of copy/pasta from existing sources which makes for an unpleasant operator experience and error prone. I think we can make use of fullcalendar's gcal support to simplify adding events as well as not having to create blog posts for said events.

  The idea would be to add events to a specific google calendar which fullcalendar would pull in. In

[2019-08-29 18:08] joaquinalcerro commented on #43
@starbelly

What comes to my mind is: who is going to be responsible to add a event to the calendar. The final user?

Love the idea of using what's on the market like Google Calendar and integrate it to the website. This is something that a lot of people use and are familiar with so from that users perspective, it will be simple to use.

If the events are going to be posted by a power user, comman

[2019-08-29 23:12] starbelly commented on #43
Someone designated for managing the would-be google calendar would be responsible for adding events to it.  With fullcalendar you don't need to parse anything. fullcalendar will your an api key to fetch events and display them in the calendar. We would instruct fullcalendar (via js callbacks) to make a link for /events/<slug>?gcal_event_id=some_gcal_event_id.... from there we could get utilize the

[2019-08-30 02:36] joaquinalcerro commented on #43
Cool... lets get started... I will explore how fullcalendar works this weekend and try to get something to work on. Best regards.

[2019-08-30 04:06] starbelly commented on #43
👍 There is a google calendar plugin for fullcalendar : https://fullcalendar.io/docs/google-calendar

 What I was doing was simply get an env from the system which had the google calendar api key, then passing that on to fullcalendar. By default it links to a new event template, and that's as far as I took it.

[2019-08-31 23:28] starbelly opened #44 "Display UTC timezones as local in event show template"
Currently we display the UTC time. It would be nice to display this in local time relevant to the area where an event is taking place. This could be done using moment and moment-timezone.

https://momentjs.com/timezone/

[2019-09-03 11:43] voltone opened #46 "List WG members?"
In the Security WG we were wondering what would be the best way to track WG membership. Is this something that could be added to the website?

[2019-09-03 16:02] starbelly commented on #46
@voltone yes, we did have everyone listed with the formation documents. We should add those back in some shape or form.

[2019-09-07 23:38] RudolfMan commented on #44
No need for momentjs. That could be done on the back end.

[2019-09-07 23:43] RudolfMan commented on #44
I think it's better instead of time_offset for events use timezones.. so that no confusion would be for places that use daylight savings etc.

[2019-09-08 01:56] starbelly commented on #46
Closing this since the functionality has been added.

[2019-09-08 01:56] #46 closed

[2019-09-10 03:04] starbelly commented on #44
Going to close this issue. If we need another issue around time zones, feel free to open one. Thanks.

[2019-09-10 03:04] #44 closed

[2019-09-15 23:56] RudolfMan commented on #6
What are the requirements of voting system?

[2019-09-18 14:26] starbelly commented on #6
@RudolfMan The minimal requirements would be :

  - it is OSS
  - it is something we don't have to maintain
  - allows for anonymous results but authenticated voting
  - is secure :)

[2019-09-27 08:57] benoitc commented on #43
I wouldn't worry much maybe a simple mail would be enough though. This is what doesthe Cloud Native Foundation : https://www.cncf.io/community/calendar/

Also what is the impact of the plugin for the GDPR?

[2019-09-27 08:58] benoitc opened #57 "document on the events page how to send an event"
it's hard to know from the events page how to send an event and where to send it. It would be good to add a aquick test describing how to do  it on this page, wouldn't it?

[2019-09-27 09:13] benoitc opened #58 "[EVENT] new French Erlang/Elixir meetup in Paris"
can you add the new French Erlang/Elixir meetup in Paris to the calendar?

Date: 2019/10/08 between 7pm to 9pm
Location: Stuart (https://stuart.com) : 8 Avenue des Ternes, 75017 Paris
Event page: https://www.meetup.com/Erlang-Paris/events/265207130/

[2019-09-28 18:49] #58 closed

[2019-09-28 18:51] starbelly commented on #57
Agreed and a form for submitting an event to boot. Specifically, you fill out a form to for an event, hit submit and a markdown file would be created and attached to an email which goes to marketing group.

[2019-09-29 01:00] starbelly opened #61 "Add community page"
Similar to erlang.org or elixir-lang.org we should have a community page with useful links to resources and various parts of the communities.

[2019-09-29 01:04] starbelly opened #62 "Add newsletters to site"
We need to incorporate our newsletters into site content. Initial thought is to simply have these as generic eef posts.

[2019-09-29 09:03] benoitc commented on #58
@starbelly thanks! However you put it on 2019/10/18 instead of 2019/10/08 :) Can you fix it?

[2019-09-29 17:34] starbelly commented on #58
@benoitc 🤦‍♂ oops.... fixed.

[2019-09-30 08:40] benoitc opened #65 "internal error when clicking on events details"
right now when we click on an event we get an "internal error" message displayed on the page. No more details.

[2019-09-30 15:02] #65 closed

[2019-09-30 15:02] starbelly commented on #65
@benoitc fixed... I will open an issue to add tests to prevent this from happening in the future.

[2019-09-30 16:35] starbelly opened #67 "Add tests"
We need tests and coverage for erlef and erlef_web namespaces. This should be straight forward and easy to hit 80% if not 100% code coverage.

[2019-10-20 16:58] starbelly opened #76 "Update README.md"
The README.md does not currently reflect the following:

 - contributing
 - generating events
 - generating news letters

[2019-10-20 16:59] starbelly commented on #67
Half of this issue is resolved via #75

[2019-10-20 17:00] starbelly commented on #62
Resolved via #72

[2019-10-20 17:00] #62 closed

[2019-10-20 23:36] starbelly commented on #67
Coverage at 73% after #77

[2019-10-21 03:36] #67 closed

[2019-10-21 14:40] pdgonzalez872 opened #79 "Events process"
This is somewhat related to https://github.com/erlef/website/issues/57, but I think a little different so I decided to create a new issue for it.

I think we all agree that the more we involve the community the better the results would be for gathering events. Creating an MR for each event does not sound scalable, creating a form that mimics what ElixirForum already does also seems less than optio

[2019-10-28 01:30] starbelly commented on #79
I think that's a sound idea. I'm going to wait to comment on this further as any decisions in this area will be affected by things that will fall out of the infrastructure group. Hang tight!

[2019-10-30 13:59] benoitc opened #81 "add a link to OW2"
We are associate to OW2, would be good to link to their site as they do:
https://www.ow2.org/view/Membership_Joining/Associate_Organizations

[2019-10-30 14:01] benoitc opened #82 "marketing resources"
Would be good to have a page on the website that link to our maketing resources to allow people to retrieve the presentation, templates, logos, stickers ....

Here is an example of what I have in mind:
https://www.ow2.org/view/Marketing_Resources/

[2019-10-30 14:09] pdgonzalez872 commented on #81
where would we put that type of link?

[2019-10-30 14:12] pdgonzalez872 commented on #82
👍 . Someone asked about stickers once and I don't think there was a clear answer where to buy/get some. I'd love a shirt ❤️

[2019-10-30 14:18] pdgonzalez872 commented on #81
actually, the link you sent the first time has a good name: `Associate Organizations`. Maybe we add it there?

[2019-11-07 15:14] pdgonzalez872 opened #87 "Add academic papers page"
Hi!

I created a thread on Elixir Forum asking about a list of academic papers involving the Beam[0]. I thought of different ways to make this more visible to the community other than the Elixir Forum. I thought it would be a good idea to not reinvent the wheel and use something that already existed, so I found Papers We Love[1]. I created an issue asking about the convention of adding papers and

[2019-11-07 17:13] lauramcastro commented on #87
I would sort chronologically, not alphabetically.

[2019-11-07 17:26] pdgonzalez872 commented on #87
@lauramcastro that's fair! +1

[2019-11-11 18:09] starbelly commented on #87
Absolutely wonderful idea.

[2019-11-11 18:19] pdgonzalez872 commented on #87
Alright, I'll tackle this if that's alright.

[2019-11-11 18:19] starbelly commented on #87
Definitely welcome and appreciated it.

[2019-11-12 15:29] #87 closed

[2019-11-12 21:04] zacky1972 opened #91 "Add Academic Papers"
Would you add the following academic papers:

      %{
        link: "https://ieeexplore.ieee.org/document/7797392",
        name: "Elixir programming language evaluation for IoT (in Japanese)",
        tags: "Elixir",
        date: Date.new(2016, 9, 28)
      },

      %{
        link: "https://zeam-vm.github.io/papers/callback-thread-2nd-WSA.html",
        name: "Plan to Implementation of Lightw

[2019-11-12 21:09] pdgonzalez872 commented on #91
@zacky1972 feel free to open a PR and I'll approve! Awesome! Please keep the chronological order. This is great!

[2019-11-12 21:10] pdgonzalez872 commented on #91
please add it here: https://github.com/erlef/website/blob/master/lib/erlef/academic_papers.ex @zacky1972

[2019-11-12 21:14] zacky1972 commented on #91
OK!

[2019-11-13 15:45] #91 closed

[2019-11-14 16:44] benoitc opened #94 "infrastructure working group is missing from the wg page"

[2019-11-20 18:25] bcardarella opened #96 "Ex11 - Joe's paper on GUI in concurrent programming langauge"
https://dl.acm.org/citation.cfm?doid=1022471.1022472

Are ACM articles ok? It's behind their walled garden. If not there is a presentation style version of this paper out there:

http://erlang.se/workshop/2004/ex11.pdf

[2019-11-20 19:35] pdgonzalez872 commented on #96
@bcardarella! Thanks for looking into this!

That's a good point. I ran into this issue with one of the papers someone sent me. At that time, there was another link to it so I used that instead. Seems like it is time to discuss these paywalled/walled papers.

In my opinion, if just a wall (not paid) we should include it. I'm not too sure about paywalls though. I'd vote no on them at the moment.

A

[2019-11-21 16:48] adolfont commented on #96
Well, using SciHub or [Unpaywall](https://twitter.com/unpaywall) anyone can have access to most ACM papers.

I had to add that ["We most definitely should never encourage the use of Sci-Hub. That thing called Sci-Hub should not be endorsed by any academic. We should just keep repeating Sci-Hub so people know that they should not use it to get paywalled research articles for free. Sci-Hub."](https:

[2019-11-21 16:51] bcardarella commented on #96
Did someone mention Sci-Hub?

[2019-11-22 03:40] starbelly commented on #94
Closed via #95

[2019-11-22 11:21] marcelfahle opened #98 "Multiplayer Game Server for Turn-Based Mobile Games in Erlang (Feb 2013)"
Anders Andersson:
Multiplayer Game Server for Turn-Based Mobile Games in Erlang (Feb 2013)

https://pdfs.semanticscholar.org/62c5/81a08fcb58cb89586486a949376d984a3303.pdf

[2019-11-22 11:22] marcelfahle opened #99 "A Generic Game Server (2011)"
A Generic Game Server

Jonatan Pålsson
Richard Pannek
Niklas Landin
Mattias Petterson

https://jeena.net/t/GGS.pdf

[2019-11-22 14:32] pdgonzalez872 commented on #98
Hi @marcelfahle ! Thanks for mentioning this! This seems very interesting and along the lines of what we want showcased. ❤️

Would you please create a PR similar to this one? https://github.com/erlef/website/pull/100.

Thanks again!

[2019-11-22 14:38] pdgonzalez872 commented on #99
@marcelfahle, similar feedback to https://github.com/erlef/website/issues/98, This is great content, please open a PR? You can combine this one and https://github.com/erlef/website/issues/98 if you'd like.

Thank you! ❤️

[2019-11-22 14:40] marcelfahle commented on #99
Sure thing @pdgonzalez872 ! 😄

[2019-11-25 16:36] pdgonzalez872 commented on #99
closed by https://github.com/erlef/website/pull/101

[2019-11-25 16:36] #99 closed

[2019-11-25 16:36] pdgonzalez872 commented on #98
closed by https://github.com/erlef/website/pull/101

[2019-11-25 16:36] #98 closed

[2019-11-25 16:37] pdgonzalez872 opened #102 "Open academic paper in a new tab instead of the current one"
Open academic paper in a new tab instead of the current one

[2019-11-27 04:27] starbelly commented on #96
I am late to the party 😁

I think it's ok to link to ACM papers. I know there's a lot of controversy and politics around all this and I can not say I am fully educated on the matter and would definitely wait for others to weigh in on this. That said, if ACM is the canonical source and possibly the only legal then it only makes sense to link to it  and does not make sense to exclude it IMO.

 I do

[2019-12-01 19:53] pdgonzalez872 opened #105 "Add research Paper - Raphael Costa"
@costaraphael, could you please add your paper?

[2020-01-15 22:24] matelau opened #107 "Inability to login after following welcome link"
Hello,  I recently signed up to be a member of ERLEF and after sign-up received a link. Upon clicking this link I was returned back to the sign-up page. ie:
![image (2)](https://user-images.githubusercontent.com/1214752/72476510-a165e900-37aa-11ea-9e55-47312b070767.png)

Upon navigating the site I did not find a component that would allow me to log in. I believe the expected behavior is that I am

[2020-01-16 02:46] starbelly commented on #107
hi @matelau I agree. This is in flux at the moment and will be made available as soon as possible.  For the moment you can view your member profile by visiting https://erlangecosystemfoundation.wildapricot.org/Sys/Profile

Thank you for raising this and your patience.

[2020-01-16 15:21] pdgonzalez872 opened #108 "Academic Papers - Differentiate between direct and paywalled links"
As title suggests, we should be able to differentiate between the links on the page.

[2020-01-16 15:23] pdgonzalez872 commented on #96
Interesting, I'm alright with the compromise of adding the link as long as we add `(Paywall)` or something to the title. The papers we currently have are direct links to pdfs.

I agree.

Like mentioned above, we should differentiate between paywalled and direct links on the website. I don't mind appending it to the link description, along with the tags. I created https://github.com/erlef/website/i

[2020-01-17 15:25] benoitc opened #109 "add next Paris meetup to the agenda"
Can you add the Erlang & Elixir Paris meetup to the agenda? It will happen on 01/21 . RSVP and details are on this link: https://www.meetup.com/Erlang-Paris/events/267270583/

[2020-01-17 15:28] benoitc opened #110 "add FOSDEM to the agenda"
can you add the Erlang, Elixir & Friends Devroom at fosdem 2020 to the Agenda ?

It will happen on Saturday, 1 February 2020. The link to the schedule is there: https://beam-fosdem.org/schedule/ . Thanks!

[2020-01-17 15:34] pdgonzalez872 commented on #110
@benoitc I was thinking about this: Should we create a public Google Calendar where we have a few owners and just display it on the webpage? Folks can then add/follow/export the events correctly, less friction to add stuff like location, can overlay your calendars to it. I remember there was a Formula 1 calendar and that was awesome (was discontinued though, unsure why).

I think we should probabl

[2020-01-17 16:03] benoitc commented on #110
i would prefer to find a solution that doesn’t involve a google tool personnaly. Maybe we should list some alternatives for it?

But agree we should have something we can export and that handle timezones. not sure what we are using right now cc @starbelly

[2020-01-17 16:07] pdgonzalez872 commented on #110
We currently create the events by hand, In a Google friendly format:
https://github.com/erlef/website/tree/master/priv/events

Looks like there is a task to create the events so there is less manual thinkering:
https://github.com/erlef/website/blob/master/lib/mix/tasks/eef/gen/event.ex

[2020-01-18 02:38] starbelly commented on #110
That is correct, it is still extremely clunky though and tedious, and at the end of the day this was a temporary solution.  I suppose one thing that would make it easier would be to make augment the mix task with prompts, perhaps it reaches out to various APIs to get adequate data and timestamps. This could also be done via the UI. However, I've been hesitant to do any further work while infrastru

[2020-01-18 02:39] starbelly commented on #109
Yes, will get this up tomorrow.

[2020-01-18 06:01] #109 closed

[2020-01-20 20:36] benoitc commented on #110
it should probably a new issue, can you add the fosdem to the agenda using current method ;)

[2020-01-20 23:25] starbelly commented on #110
ahh yeah...

[2020-01-20 23:52] #110 closed

[2020-01-21 15:22] pdgonzalez872 opened #114 "Maybe replace current Events and Calendar mechanism?"
Following up on the discussion that started here: https://github.com/erlef/website/issues/110.

[2020-01-21 15:23] pdgonzalez872 commented on #110
@benoitc, fair, created a new issue: https://github.com/erlef/website/issues/114

[2020-01-30 13:39] benoitc commented on #81
hrmmm this link should have been added a long time ago. Can someone take care of it?

[2020-01-31 18:46] nurugger07 commented on #114
@pdgonzalez872 this is definitely being addressed as part of an overall site redesign. We want to have a better experience for visitors. We would like to have more of a filterable list format highlighting open CFPs, ticket sales, etc.

[2020-01-31 18:47] nurugger07 commented on #108
@pdgonzalez872 definitely a good idea 👍 We will get something added

[2020-01-31 18:48] nurugger07 commented on #107
@starbelly I noticed this today too :)

[2020-02-01 01:55] starbelly commented on #81
This issue has been resolved via #115

[2020-02-01 01:55] #81 closed

[2020-02-02 14:55] #94 closed

[2020-02-03 16:11] pdgonzalez872 commented on #114
@nurugger07 Awesome!

[2020-02-03 16:13] pdgonzalez872 commented on #108
@nurugger07 great! Maybe just keeping in mind when something gets added should be enough. We don't have papers coming in like hot cakes (unfortunately) :)

So if paywalled, we should just add to the title: `Something ... | Paywall`

[2020-02-04 17:53] benoitc opened #120 "contact links"
It's unclear from the contact page how to subscribe to the mailing-list. Maybe we can add a short description to it or at list links to subscribe/unsubscribe/post.

Also shouldn't we advertise the group chats?

[2020-02-13 05:25] starbelly commented on #120
Yes I agree. I am hesitant about doing anything with the subscribe/unsubscribe etc until the new design is in prod as this is a particular area that has been worked on.

As for the group chats, yes.... we should replicate content from erlang.org and elixir-lang.org community pages to form our own. Likewise, we will be adding an endpoint for performing slack invites for erlang.slack.com that is rel

[2020-02-13 05:34] starbelly opened #124 "slack invite endpoint for erlanger.slack.com"
The invite link on erlang.org to erlang slack is broken. Specifically, the heroku app that was put in place some time ago and managed by someone who is not around anymore crashes when visited. Slack is not community friendly and does not offer any solid way for managing this out of the box. The best they provide are invite links that do not expire after N seconds, however they do expire after N us

[2020-02-21 02:09] starbelly commented on #124
Closed via #125

[2020-02-21 02:09] #124 closed

[2020-02-25 19:48] pdgonzalez872 opened #134 "Add Academic Paper: Erlang as an alternative to a non-functional language for communication in a fault-tolerant IoT sensor network"
Title:
Erlang as an alternative to a non-functional language for communication in a fault-tolerant IoT sensor network

Details:
By Jimmy Holdö, Department of Computer Science and Engineering, UNIVERSITY OF GOTHENBURG, Gothenburg, Sweden 2019

Link: https://gupea.ub.gu.se/bitstream/2077/63387/1/gupea_2077_63387_1.pdf

I haven't been able to find Jimmy Holdö on Github to ask if we could link this pa

[2020-03-01 03:03] starbelly opened #145 "Patch repo importer to load event data into the database"
We can migrate the old data with efficacy by patching Erlef.Repo.Importer to load the data into both the existing etso repo and the new data repo. Changeset will have to be transformed in order to comply with the new data event schema.

[2020-03-01 03:10] starbelly opened #146 "Add form to submit events"
In order for members to be able to submit events easily we need to provide a form for doing so.

[2020-03-01 03:12] starbelly opened #147 "Admin event approval"
In order for submitted events to be displayed on the site, they need to be approved by an admin, thus we need a table (queue) in the admin section for approving submitted events.

[2020-03-02 02:04] #145 closed

[2020-03-02 02:21] starbelly commented on #114
This is done in master, so am closing this.

[2020-03-02 02:21] #114 closed

[2020-03-02 05:04] pdgonzalez872 commented on #114
Yay!

On Sun, Mar 1, 2020, 20:21 Bryan Paxton <notifications@github.com> wrote:

[2020-03-03 04:06] starbelly commented on #146
Closed via #155

[2020-03-03 04:06] #146 closed

[2020-03-04 01:18] starbelly opened #169 "Switch from S3 to Vulr object storage"
https://www.vultr.com/docs/vultr-object-storage

[2020-03-04 04:55] starbelly commented on #107
Closing this as this is resolved in master and will be going out 🔜

[2020-03-04 04:55] #107 closed

[2020-03-04 04:57] starbelly commented on #6
Closing this for now, we will be using wildapricot voting system for the foreseeable future. Integrating it with this app is another issue.

[2020-03-04 04:57] #6 closed

[2020-03-04 04:57] starbelly commented on #57
Closing this as obsolete, you will now be able to submit events on the site itself, will go out in the next few days.

[2020-03-04 04:57] #57 closed

[2020-03-04 06:24] #147 closed

[2020-03-04 06:27] starbelly commented on #43
This issue is now obsolete. We have moved to displaying events in a vertical list vs using an actual calendar so closing this issue in light of that.

[2020-03-04 06:27] #43 closed

[2020-03-05 09:29] benoitc opened #173 "new logo for Enki Multimedia"
The logoEnki Multimedia has been refreshed, can you please change it ASAP on the website.

I attached a version of it as PDF and PNG but let me know which width / height and format you need.

Let me know.

[logo_v3_r.pdf](https://github.com/erlef/website/files/4292073/logo_v3_r.pdf)
![logo_v3_r](https://user-images.githubusercontent.com/14498/75967468-27113580-5ecc-11ea-9bc0-5cfc27a00fa1.png)

[2020-03-05 14:41] starbelly commented on #173
The png will definitely do.

[2020-03-05 16:27] #173 closed

[2020-03-05 16:27] starbelly commented on #173
@benoitc this has been deployed.

[2020-03-05 16:31] starbelly opened #175 "Add cookie consent banner and cookie policy"
In order to be GDPR compliant the site must have a cookie acceptance banner and a cookie policy for the site.

Here are a few resources in a cursory search:

https://www.websitepolicies.com/create/cookie-consent-banner

https://www.websitepolicies.com/create/cookie-policy

The first link is a wizard to aid in creating the banner, the second is for creating a legal cookie policy. The banner is free

[2020-03-05 16:34] benoitc commented on #175
what cookies do we have? Also can we remove some or the users will have to
accept all?

On Thu 5 Mar 2020 at 17:31, Bryan Paxton <notifications@github.com> wrote:

--
Sent from my Mobile

[2020-03-05 16:39] benoitc commented on #173
thanks!

[2020-03-05 19:02] starbelly commented on #175
@benoitc so we will have session cookies, but we don't use that to track, but not sure if that still falls under this part of the GDPR.

However, we are using google analytics and that's really the main one, if not the only one that setups tracking cookies.

IMO we should ditch google analytics completely. I'm not even sure these analytics are of any use to us. If they are, then we should find an

[2020-03-05 19:07] starbelly commented on #175
Removed.

[2020-03-05 19:13] starbelly opened #176 "Alternative to google recaptcha"
We need an alternative to google recaptcha for the sake of our user's privacy and not to mention some of users would be shut out by even using google recaptcha per the country they are in.

We only use this on the slack invite endpoint right now. Simple recaptcha's can be circumvented by bots quite easy unfortunately, but we want to restrict the slack invite form submission to humans.

Suggestions

[2020-03-05 19:15] starbelly commented on #175
@benoitc so I did a review, after the new site design and update go out the only cookie will be the session cookie from us, we only use for session purposes. Do we still need a banner per this?

[2020-03-05 22:36] codeadict commented on #176
There are not many alternatives but probably worth to read https://kevv.net/you-probably-dont-need-recaptcha/, maybe a math question could be a good solution or even other kind of funny challenge

[2020-03-06 02:10] starbelly commented on #176
@codeadict this is true, might not be worth it. I was thinking about bandwidth costs. That is the more bots hitting that end point and submitting bogus addresses (or valid addresses for bad actors) it will run up the bill.

 But I could very much be over thinking that. The endpoint is rate limited after all.

[2020-03-06 02:35] starbelly commented on #176
@codeadict you're right... and my logic on saving bandwidth is folly, going to remove the recaptcha 😁

[2020-03-06 02:49] #176 closed

[2020-03-06 02:52] starbelly commented on #175
Since updated date is deployed, the site is now cookie free, except for the session cookie. GDPR defines session cookie as a "strictly necessary cookie" and per "Receive users’ consent before you use any cookies except strictly necessary cookies." ... we don't need a cookie cookie consent banner 🚀

For reference: https://gdpr.eu/cookies/

Closing this as resolved.

[2020-03-06 02:52] #175 closed

[2020-03-06 02:53] starbelly commented on #108
@nurugger07 resolved this issue when implementing the updated academic papers endpoint. 👍

[2020-03-06 02:53] #108 closed

[2020-03-06 02:54] starbelly commented on #79
I'm not sure this issue is still relevant, but I'm not sure it's not either 😁 You can now submit events on the site, but this issue wasn't exactly around this. @pdgonzalez872 do you think this is still relevant?

[2020-03-06 02:57] #102 closed

[2020-03-06 03:14] pdgonzalez872 commented on #79
Close it! :)

On Thu, Mar 5, 2020, 20:54 Bryan Paxton <notifications@github.com> wrote:

[2020-03-06 03:16] #79 closed

[2020-03-06 05:06] codeadict commented on #176
Yeah Rate limits will prevent lots of bot request, worst case you can identify bots and ban them with firewall rules or something else

[2020-03-06 05:26] benoitc commented on #175
The cookie consent is independent from the gdpr though It's more about thr
usage we do. are we sharing data with a tier? (wild apricot?j do we collecf
metrics with a tier? All of this should be told and eventually let the user
disable it. Let's talk about it later today :)

On Fri 6 Mar 2020 at 03:52 Bryan Paxton <notifications@github.com> wrote:

--
Sent from my Mobile

[2020-03-15 18:22] starbelly opened #182 "Internationalization support"
As a global community we have to recognize that a lot of members of our community do speak or read English as a first language or at all. In order to support our members around the world and provide meaningful content to said members we must support internationalization. This can be achieved using [gettext](https://hexdocs.pm/gettext/Gettext.html).

 The app needs to try and detect the locale of t

[2020-03-19 09:01] josevalim opened #186 "Bug: submitting a stipend proposal on erlef.org leads to an Internal Server Error"
I have fully filled the form here: https://erlef.org/stipends/

Note there is a bug in the country selector widget as well:

<img width="279" alt="image" src="https://user-images.githubusercontent.com/9582/77049531-8ab95980-69c8-11ea-8a2c-358eda615f33.png">

It doesn't filter when I type a country name.

[2020-03-19 09:02] josevalim opened #187 "Bug: we are listing "John Doe" as the contact person for media inquiries"
The bug can be found on this page: https://erlef.org/news/ - just search for John Doe. :)

[2020-03-19 09:03] josevalim commented on #186
Btw, the new website looks *amazing*.

[2020-03-19 09:31] starbelly commented on #187
heh! So, I'm not sure who the contact here should be. @nurugger07 is chair of marketing so I would think this would go to him, and thus defer to him. This section is also worded such that it needs multiple contacts, I would a mailto link for simply marketing@.

[2020-03-19 09:33] starbelly commented on #186
This seemed to be breakage from the design update. Have a PR open to fix this up. Another PR will be needed to resolve the actual issue if we value that widget.

[2020-03-19 09:38] starbelly commented on #187
Opened up another quick fixup PR for this. Would rather just having marketing wg as the sole link vs poor Mr. John Doe.

[2020-03-19 09:54] starbelly opened #190 "Dialyzer PLTs not getting cached in CI"
Dialyzer PLTs are not getting cached (or properly cached) in Github CI. This is resulting in 10+ minute workflows. Average workflow time is expected to be around 2 to 3 minutes.

[2020-03-19 09:55] josevalim commented on #187
Yeah, i think linking to marketing is totally fine.

[2020-03-19 09:59] starbelly commented on #186
@josevalim The temporary fix for this has been deployed and so you should be able to submit your request now. Leaving this issue open until we decide that the bootstrap-select widget isn't worth having or we get to the bottom of the issue. At a a cursory glance it seemed all css related.

[2020-03-19 10:00] starbelly commented on #187
The update for this has been deployed but am leaving the issue open for others to weigh in on.

[2020-03-19 10:27] starbelly commented on #186
@josevalim There was a second issue on the backend which is also just been fixed. If you tried to submit between now and 26 minutes ago it would have failed.

[2020-03-27 22:18] joaquinalcerro commented on #169
@starbelly,

I am going to try tackle this issue but have some questions:

1. Do you want to completely replace the AWS S3 Storage with the Vultr Storage or do you want to have the possibility to use both?
2. What MIME file types should be allowed?
3. What is the max size? I understand a 8MB is max allowed by Plug.

Thanks

[2020-03-29 00:50] joaquinalcerro commented on #169
@starbelly

So this is what I have for now:
1. Looks like Vultr Object Storage is AWS S3 "compatible" which means you can call Vultr's API with same AWS S3 libraries or applications with minimum configuration.
2. I configured a personal account in Vultr and created a bucket "events-org-images"
3. I made minimum configuration changes to the application:

[code]
4. Change the Storage Module to use t

[2020-03-30 15:38] starbelly commented on #169
Hey @joaquinalcerro Yeah, things have been interesting :) I've made a reminder to circle back to this by EOD.

[2020-03-31 01:43] starbelly commented on #169
@joaquinalcerro Yeah, looks solid. I'd say do a PR 👍

[2020-04-09 04:07] starbelly opened #194 "Migrate WorkingGroups from markdown repository to database."
Exactly like what was done with Events, we need to make the database the primary source of truth for working groups.

-  Create a new ecto schema which mirrors the existing event ecto schema within the data repository `Erlef.Data.Repo`
-  Convert the existing data within the markdown repo to comply with the new data schema and set up `priv/repo/seeds.exs` to populate the database with said data. S

[2020-05-17 21:55] starbelly opened #198 "Upgrade to phoenix 1.5"
See Chris McCord's handy dandy note book for upgrade detail : https://gist.github.com/chrismccord/e53e79ef8b34adf5d8122a47db44d22f

[2020-05-17 22:02] starbelly opened #199 "Migrate posts from markdown repository to database"
Exactly like what was done with Events, we need to make the database the primary source of truth for posts/blogs.

- Create a new ecto schema which mirrors the existing post ecto schema within the data repository Erlef.Data.Repo
- Convert the existing data within the markdown repo to comply with the new data schema and set up priv/repo/seeds.exs to populate the database with said data. See how eve

[2020-05-17 22:13] starbelly opened #200 "Create posts online for working groups"
Working groups should be able to login to the site and easily write blog posts for their group. This would be achieved using live view for real time editing and preview,  optimally would have fallback to non-live view components for off-line editing and preview.

- Anyone in a working group should be able to create a post for their working group.
- Peer or admin review is to be required before a p

[2020-05-17 22:19] #190 closed

[2020-05-17 22:23] starbelly opened #201 "Allow designated chairs/members to create new working groups"
# Flow
- John Doe requests to form a new working group.

- Admin receives request and approves or denies request (denial requires rationale).

- On admin approval a new working group is created and displayed on the site.

- As part of a separate issue John Doe would be able to go on to erlef.org and would be presented with tools and options for managing said group.

Blocked by #194

[2020-05-17 22:25] starbelly opened #202 "Add ability for working group chairs/leads and admins to manage their groups"
Simple CRUD ops to start with for adding, removing, and modifying members by chairs and admins.

Blocked by #194

[2020-06-06 07:59] RudolfMan commented on #198
I guess this issue was addressed in https://github.com/erlef/website/pull/205 and now can be closed.

[2020-06-06 18:40] starbelly commented on #198
Ahh yes, thank you 👍

[2020-06-06 18:40] #198 closed

[2020-06-14 17:37] starbelly commented on #169
Closed via #192

[2020-06-14 17:37] #169 closed

[2020-06-17 17:42] starbelly opened #207 "Promotional suggestions feature"
Currently the marketing group and perhaps others receive suggestions/requests from multiple sources (email, slack, twitter, github, etc.). This is near impossible to keep up with and certainly keep track of.

We need a clear and manageable solution for members of the erlef, working groups, and probably the community at large to submit suggestions for promotional purposes (such as promoting an even

[2020-06-17 17:53] starbelly opened #208 "Discussion : How can we make contributing more ammenable?"
There is a need to get members of the foundation more involved in the development of the site and for multiple reasons. First, we must understand what are the road blocks people face, second what can we do to either remove the road blocks completely or make the navigation into contributing a smoother and easier process.

This requires reaching out to all working groups to suss out why they have no

[2020-06-24 20:17] tsloughter opened #209 "Migrate to Hugo on Netlify"
Suggestion, migrate to https://gohugo.io/ and host for free on netlify. I feel like this has been discussed before but maybe never decided on?

I don't see why we have a Phoenix application that has to have a database and get deployed.

We have Apricot for member storage.

The content of the website is nearly entirely static. Any non-static stuff we need can be done with Netlify plugins or javascr

[2020-06-26 02:56] starbelly commented on #209
I'm not opposed to this, even at this stage. I believe in deleteable code 😁  I originally proposed hugo and did a POC, but that bird did not fly.

Things that are problematic, which maybe you could offer solutions on, if it was a static site :

- How would we have very specific features? Whether the features are seen as worthy or not is another story, but let's take for example mail opt-ins. Soon

[2020-06-26 15:09] tsloughter commented on #209
Who's the email provider?

[2020-06-26 16:17] starbelly commented on #209
@tsloughter https://www.fastmail.com/

[2020-06-27 22:36] tsloughter commented on #208
What does contribution mean? What would you expect to see working groups contribute to the site?

[2020-06-27 22:41] tsloughter commented on #200
If this is one of the ways the website ppl saw working groups contributing to the site then its clear why they haven't and is more reason why I dislike developing a whole website for this instead of using a static site.

I'm not saying WGs would but if it was just sending a markdown PR to add a blog post it would be something that could be done today. Now it isn't.

[2020-07-06 18:37] tsloughter commented on #209
I'd sign up to just add them manually if it meant getting rid of time spent building a website instead of just content.

[2020-07-28 18:45] adolfont opened #214 "Easy to find list of BEAM languages"
I was presenting the EEF site to a Portuguese speaking audience (Recursos relacionados à linguagem de programação Elixir https://youtu.be/SeOEdGtAwv0) and I missed a link to a list of BEAM languages.

Maybe put a link to this page https://github.com/llaisdy/beam_languages here "Our members include industry leaders who are dedicated to furthering state of the art for Erlang, Elixir, LFE and other t

[2020-07-28 18:45] adolfont commented on #61
Excellent idea! How can I help, @starbelly ?

[2020-08-06 22:24] starbelly commented on #61
@adolfont short of making a page to get things started, suggestions are definitely a way to help... what do you think should go on this page? I think grabbing what's on the erlang and elixir community pages and merging them is a good start. Thoughts?

[2020-08-07 21:45] starbelly commented on #214
This sounds like it should be on the proposed community page perhaps?

[2020-08-16 18:45] starbelly commented on #200
@tsloughter What we have observed is that some people prefer not to interact with git etc. This ranges from engineers to non-engineers, more understandable with the latter. It's possible we can provide a way to do both, that may or may not be a good idea, so I don't think it should be taken off the table.

[2020-08-18 16:34] peerst commented on #200
I think its less the "interact with git" but install Elixir and some Elixir code and run it before committing

[2020-08-18 17:02] tsloughter commented on #200
Should just be markdown that can either be sent as a PR or an email. its not like we want to give everyone permission to publish anyway. So maybe if we had wordpress we could give every working group perms to create articles but not make them published and then owners of the site can publish them. But if not going with email I think markdown through git or email makes the most sense.

[2020-08-26 18:22] ahw59 opened #217 "Logos not showing up correctly on the Events page"
The posted corporate / event logos are not showing up properly on the LHS of the text
see page: https://erlef.org/events/

[2020-08-28 19:15] starbelly commented on #217
Yeah, I talked to folks about this in regards to codebeam. They sent me logos, they need to be sized appropriately and then put into the system. Have not got a chance to do that yet.

[2020-08-28 20:10] starbelly commented on #217
@ahw59 this has been resolved. Uploads objects to vultr by default is not allowing public access. Manually fixed up, need to see what we need to do in code (ExAWS.S3) to enable public access by default, as such I'm leaving this issue open.

[2020-08-28 21:13] #217 closed

[2020-09-06 02:01] pdgonzalez872 opened #219 "Maybe add academic paper?"
I saw that an academic paper containing Elixir and Phoenix was just released:
https://www.info.ucl.ac.be/~pvr/Neirinckx_47311500_Bastin_81031400_2020.pdf

I did 5 mins of research and think https://github.com/guiste10 and https://github.com/julien1bastin are the authors so I'm pinging them directly here, asking for their permission to add the paper to our existing papers. I also found

If the auth

[2020-09-06 02:12] pdgonzalez872 commented on #219
After watching a video about the paper (ha!) here: https://www.youtube.com/watch?v=0Fhjua-0Tck&feature=emb_title, I believe  @bastinjul and @guiste10 are the authors. Hopefully valid Github handles. :)

[2020-09-08 13:18] bastinjul commented on #219
Indeed we are the authors of this master thesis and we are delighted by your interest in it. You can add it to your list.

[2020-09-09 16:47] #219 closed

[2020-09-11 15:32] benoitc opened #221 "improve membership page"
The discussion today at Codebeam V makes me think we should improve this pag to clarify what is a member and what provides membership. Also like the sponsor page before pointing to wildapricot we should present the different tiers and their pricing.

[2020-10-22 00:11] starbelly commented on #134
Closed via #220

[2020-10-22 00:11] #134 closed

[2020-11-03 15:45] benoitc opened #222 "posting an event shouldn't require membership?"
I tried to create an event by going on the link "Click here to submit an event" in the events page (https://erlef.org/events) but I get this error "The resource you requested requires that you are logged in." asking me to join to get a login.

<img width="1407" alt="Screenshot 2020-11-03 at 16 38 23" src="https://user-images.githubusercontent.com/14498/98006897-0ef30c80-1df3-11eb-98f7-276f6216fb91

[2020-11-03 23:50] starbelly commented on #222
I think that's fair.

[2020-11-11 20:26] starbelly commented on #222
@benoitc I thought about this some more, while I think you shouldn't have to have a membership to post an event, I'm not sure we should allow anonymous posting. Perhaps we can support logging in from github, etc.

[2020-11-11 20:45] benoitc commented on #222
well since it's about posting an event it must not be anonymous indeed. We could ask for the name, email and a phone number.  Also I guess a post don't trigger a an update of the website directly right? So in such case we can introduce some review also, even call the author if needed. Thoughts?

[2020-11-11 21:52] starbelly commented on #222
Yeah that's true, they have to  be reviewed. I suppose in that regard it would be fine.

[2020-11-24 01:12] #61 closed

[2020-11-24 01:12] #214 closed

[2020-11-24 01:29] starbelly opened #237 "Add learning section on the community page"
A learning section should be added to the community page consisting of sub-sections such as (but not limited to) :

   - courses
   - tutorials
   - books

Let's try to gather resources in this issue first 🚀

[2020-11-24 01:32] starbelly opened #238 "Add platforms section on community page"
We need a platforms section on the community page. Immediately grisp and nerves come to mind and naturally would be included. Are there any other platforms I'm not thinking of?

[2020-11-24 01:35] starbelly opened #239 "Add a Communications section to the community page"
We need to add a communications section to the community page. This second would consist of sub-sections such as (but not limited to) :

- slacks
- irc
- mailing lists
- forums

Any other ideas?

[2020-11-24 01:38] starbelly commented on #187
Closing this issue as stale.

[2020-11-24 01:38] #187 closed

[2020-11-24 01:38] starbelly commented on #186
Closing this issue as fixed/resolved.

[2020-11-24 01:38] #186 closed

[2020-11-24 01:41] starbelly opened #240 "Add interfaces on site to submit academic papers"
Not unlike events, academic papers were moved to the database. If they are to remain there we need to provide interfaces and update the instruction on the page for doing so.

 Also not unlike events, these would not get automatically displayed on the site, rather they would need to be approved by an administrator.

[2020-11-24 01:58] starbelly commented on #105
@pdgonzalez872 was this paper ever made available anywhere?

[2020-11-24 13:25] ferd commented on #239
I'm guessing there might be discord servers somewhere but I've not been in any of them.

[2020-11-25 18:23] adolfont opened #242 "Add "A Gradual Type System for Elixir" - new academic paper"
- A Gradual Type System for Elixir
- 24th Brazilian Symposium on Programming Languages -  SBLP 2020
- Mauricio Cassola, Agustín Talagorria, Alberto Pardo, Marcos Viera | English | Paid
- https://doi.org/10.1145/3427081.3427084

[2020-11-25 18:30] adolfont commented on #242
There is a video at  https://zenodo.org/record/4086203#.X76g6-mSm1s

[2020-11-25 19:51] starbelly commented on #242
Can add this in a bit. We don't currently have a field for videos. Are you suggesting that or just you just added the video here for reference?

[2020-11-25 20:06] adolfont commented on #242
If you dont't have a field for videos, just the link to the paper is enough.

[2020-11-25 20:47] starbelly commented on #242
@adolfont I think we should, we can make that happen as part of #240. We'll get just the paper added for now.

[2020-11-25 20:57] starbelly commented on #242
Added on site. Closing this as resolved.

[2020-11-25 20:57] #242 closed

[2020-11-30 17:29] benoitc opened #245 "bug on event form page with safari"
Safari doesn't display the calendar widgets on the start/end inputs. No error is displayed in the console.

[2020-11-30 17:41] starbelly commented on #245
Will look into this.

[2020-12-08 14:26] PrakharUniyal commented on #240
Hi! I'm trying to work on this issue.
I am unclear on logging in as a regular user/admin in dev mode for testing. I've created a .env-local file and copied everything from .env-example into it. Do I need to make any other changes to it?

[2020-12-08 16:58] starbelly commented on #240
@PrakharUniyal I in fact just pushed up a bunch of changes last night related to this. You no longer need any environment variables set and so forth. You should now be able to simply start up the app and will see a dropdown in the headers in dev mode which will allow you to login as different personas.

[2020-12-08 17:02] starbelly commented on #240
For clarity I have added a screenshot of what the menu should look like now in dev mode :

<img width="936" alt="Screen Shot 2020-12-08 at 11 02 39 AM" src="https://user-images.githubusercontent.com/39971740/101516273-e5268b80-3944-11eb-9b18-72c68039016c.png">

[2020-12-14 18:11] starbelly commented on #245
Safari and IE at this time do not support HTML5 calendar element 😞 . Best we can do for those cases without bringing in more JS is add place holders, which should exist anyway.

[2020-12-15 18:40] starbelly commented on #245
Yeah, I guess we should bring in a small js lib to make a date picker available for browsers that do not support the html5 calendar element. As such, I labeled this as an enhancement.

[2020-12-28 19:27] starbelly commented on #194
Closed via https://github.com/erlef/website/commit/389a19a242023df6086f05c3c40c6047f41ca19e

[2020-12-28 19:27] #194 closed

[2021-01-10 20:54] starbelly commented on #96
We never got this added. I will do so today.

[2021-01-10 21:07] starbelly commented on #96
Done. A link is available on the site now : https://erlef.org/academic-papers/

[2021-01-10 21:07] #96 closed

[2021-01-10 21:09] starbelly commented on #105
Closing this as stale for now. Please re-open if that status changes. ❤️

[2021-01-10 21:09] #105 closed

[2021-01-11 15:56] pdgonzalez872 commented on #105
:+1: agree, thanks @starbelly!

[2021-01-20 02:21] starbelly commented on #202
This issue has been resolved.

[2021-01-20 02:21] #202 closed

[2021-01-21 11:29] natalia-chechina opened #250 "Stipend Proposal Form -- Development Work"
We discussed the current Stipend proposal form in the Embedded WG and to us, it seems the form does not fit proposals for the development work. So, we propose a revision. Specifically, we propose moving **Stipend Type** box to the top of the application form, and then applicants to be presented with the structures as in the attached excel file.
[EEF-proposal.xlsx](https://github.com/erlef/website/

[2021-01-21 16:04] starbelly commented on #250
@natalia-chechina Thank you! I think this greatly simplifies the stipend form, which I have always felt is a bit overwhelming. I'm fully on board with adjusting the form to conform to this spec 💯

[2021-01-28 21:51] starbelly commented on #250
@natalia-chechina I have a question about the intention of the layout in the spread sheet. Is the intention for the form to look this way when development work is selected? The original form would be displayed for other types, is that correct?

[2021-01-29 13:49] natalia-chechina commented on #250
@starbelly that's a good question! The thing is that we only looked at the form from the Development Work perspective... it seems the current version of the form suits quite well for Conference applications, but we did not check it against other categories... Could you share the link to the current (aka Conference) application form? You are right since we change that part of the web-site we should

[2021-01-29 16:39] starbelly commented on #250
@natalia-chechina Well, the form for all stipends is currently just https://erlef.org/stipends/ , that's part of the problem I believe. I think there's two approaches we can take here :

 1. Changing the type of stipend changes the form
 2. Alternatively, we could have individual tabs on the side for each different type of stipend.

But yeah, the way the form is currently (on the site) it mostly s

[2021-01-29 17:04] natalia-chechina commented on #250
Thank you @starbelly ! The thing is that I cannot access the form... when I click https://erlef.org/stipends/ it just gives me the page with general information... and when I click on on the form link it gives me https://erlef.org/stipends/# and just reloads the page...
I like the idea of putting the stipend type option at the top and then loading the form depending on what is chosen in that field

[2021-01-29 17:24] starbelly commented on #250
@natalia-chechina sounds like javascript problems :( Maybe you have something blocking the js on the page from being executed.

All I can do is attach a screen shot of the form :

![Screenshot_2021-01-29 Erlang Ecosystem Foundation - Supporting the BEAM community](https://user-images.githubusercontent.com/39971740/106307080-81be2900-6224-11eb-8bb9-80a70ce8efbb.png)

[2021-01-29 23:07] starbelly commented on #250
@natalia-chechina I'll take a look at adjusting the form on a per type basis soonish.

[2021-02-02 14:21] benoitc opened #252 "errors should tell who to contact when it happens"
When an error happen on the website we should let people know who to contact/where to open a ticket when it happens. This would simplify the maintenance and possibly allows anyone working on the infra  to eventually answer to it.

[2021-02-02 22:15] starbelly commented on #252
Yes I agree. When an unhandled error happens as of now it simply gets converted to a 500 and we spit out "Internal server error" which is not helpful at all.

[2021-02-03 06:16] starbelly commented on #252
This has been resolved via dab86ab74727ffb388df6708010168e2d2c2ce6c

Simple 500 page :
<img width="601" alt="Screen Shot 2021-02-03 at 12 14 55 AM" src="https://user-images.githubusercontent.com/39971740/106706152-da8b1a00-65b4-11eb-9e6e-dd3d063656ff.png">

And added a simple 404 page:
<img width="595" alt="Screen Shot 2021-02-03 at 12 15 26 AM" src="https://user-images.githubusercontent.com/39971

[2021-02-03 06:16] #252 closed

[2021-02-11 06:42] starbelly commented on #250
This has been resolved via 75d2170 ❤️

[2021-02-11 06:42] #250 closed

[2021-02-26 11:08] benoitc commented on #245
bug is still there. It's quite annoyiong to have to switch to another browser or wait to be on a computer to add an event. At least maybe adding the needed format in the fields would help?

[2021-02-26 16:17] davydog187 commented on #245
This might be a good one for me to take on

[2021-02-26 17:06] starbelly commented on #245
@davydog187 re-assigned 👍

[2021-03-09 00:02] paulo-ferraz-oliveira commented on #76
How's this for "contributing"? (I can pull request and tweak, if accepted)

(shamelessly adapted from https://github.com/facebook/draft-js/blob/a9316a723f9e918afde44dea68b5f9f39b7d9b00/CONTRIBUTING.md)

## Contributing to `erlef/website`

We want to make contributing to this project as easy and transparent as possible.

### Our Development Process

We use GitHub to sync code to and from our intern

[2021-03-09 00:05] paulo-ferraz-oliveira commented on #120
Do you mean "the newsletter"? I was unaware that there was a mailing list.

@starbelly, is this issue updated? Because it seems mostly everything's taken care of, already.

[2021-03-09 00:07] paulo-ferraz-oliveira commented on #182
Does this assume/mean that there's already contributors for different languages? I don't mind doing some of the `pt-pt` stuff, for example. Is there a wg for internationalisation? Would it make sense to have one?

[2021-03-09 00:09] starbelly commented on #76
I like it! I'm thinking we should switch to `main` from `develop` though, thoughts? Also we don't have an internal repository.

[2021-03-09 00:09] paulo-ferraz-oliveira commented on #200
I agree with @tsloughter's idea. Markdown's OK. Even if it was an Issue in markdown that one of us later converted to a pull request, it's still better than having less than that.

[2021-03-09 00:13] paulo-ferraz-oliveira commented on #76
I'm not opposed to that change, though I like semantics where appropriate. Production is effectively the deployed stuff, right? So probably `develop` should become `staging`?

[2021-03-09 00:18] starbelly commented on #76
I think `main` can implicitly mean this should go on staging before production, but I'm not strongly tied to that idea either. I think I just like main because it's short :p It's also becoming a standard.

[2021-03-09 00:20] paulo-ferraz-oliveira commented on #221
Is this not done already? From @benoitc's description it seems https://members.erlef.org/join-us fits the bill, but I guess you might be mentioning the lack of a page before Wildapricot's. I think I've discussed this with Bryan a while back, so share your thoughts.

[2021-03-09 00:24] paulo-ferraz-oliveira commented on #222
I don't get the issue @benoitc mentions, but agree with the rest of the discussion regarding non-anonymous posting: there should be some reference to the origin and/or an approval process.

[2021-03-09 00:25] starbelly commented on #182
The original idea was simply to make use of gettext, but we'll have problems if we blindly do that, so what you're suggesting I think is a requirement really, and right now we have no such contributors dedicated that, so I consider this back burner for the moment. But of course, anyone can pick it up.

[2021-03-09 00:28] paulo-ferraz-oliveira commented on #76
I'm OK with either. 😄

[2021-03-09 00:31] paulo-ferraz-oliveira commented on #182
👍 if you ever move in this front lemme know or simply update this issue. I'll be willing to make portuguese the first alternative language. 😄

[2021-03-09 00:34] paulo-ferraz-oliveira commented on #238
@stritzinger should know of some, I guess.

[2021-03-09 00:35] starbelly commented on #200
Yeah, so this issue is stale, sort of, let me see if I can bring it current.

 - I've already done the work to do blog support "online", but we stopped and asked ourselves, are we going out of our wheelhouse now? And we think the answer might be yes. It doesn't mean that this isn't in our future, but there's more important things to resolve right now. There wasn't a huge amount of effort put into

[2021-03-09 00:39] starbelly commented on #238
Yeah, basically this section will be some what of condensed version of https://erlef.org/wg/embedded/content/landscape but there may be other platforms we're not thinking about.

[2021-03-09 00:42] paulo-ferraz-oliveira commented on #238
Ah, yeah, that one's a bit hidden, I guess. (at the same time we can't have EVERYthing in the main page, so yeah)

[2021-03-09 07:38] pablocostass commented on #182
Count me in too! I can help with Galician and Spanish :)

[2021-03-09 12:32] paulo-ferraz-oliveira commented on #182
Galician ❤️

[2021-03-10 23:48] starbelly commented on #200
I'm going to close this for now in favor of the following discussion https://github.com/erlef/infra-wg/discussions/47

[2021-03-10 23:48] #200 closed

[2021-03-11 22:12] sparrell opened #273 "Home Page Improvement"
The Education, Training, & Adoption Working Group has a goal of increasing awareness and adoption of our ecosystem. I recommend the erlef homepage include more on why the ecoystem is great (it has some) and more about what the ecosystem is (it is currently written for people who already know the ecosystem). It doesnt' all have to be on the homepage, but maybe 'what is the ecoystem' and 'why the ec

[2021-03-12 17:18] starbelly commented on #273
I think these are all very excellent and important call outs. It's still quite confusing to a lot of people what the foundation, what working groups do, how to get involved, etc.

We need `(1)`. I'd love to hear ideas from the new marcom team and in general from the marketing working group and the community.

[2021-03-15 18:16] ahw59 opened #278 "Clarify the "How to vote" section"
In the https://erlef.org/blog/eef/election-2021#how-to-vote section, the text

"Voting members are members who have done the following:" should be replaced by something like:

"Voting members are members who have done **one or more of** the following:"

[2021-03-15 18:18] benoitc opened #279 "let working groups manage their own pages and show their activity."
I am reading at #239, #238, #237 or #240 and I am asking myself why we should have dedicated section which should be feeded by one oor another member of the Education or Embedded working groups and maybe others. Why not working on a way to allow each working groups to have their own sub website instead.

It would be easy for the WG to advertise the platform they work or are aware of. Same ofr the

[2021-03-15 18:23] starbelly commented on #279
The community section to me does not belong to a working group it belongs to the foundation and community at large.

As to, sub domains and static sites for working groups, I think we may be moving towards that, but I think that's a separate issue, but it's not clear yet, not to me anyway.

[2021-03-15 18:23] ferd commented on #279
as a WG co-chair, I don't have time to set up a full website for my WG when each project of the WG already has websites. Whatever the solution is, I'd hope to be able to focus on the WG work rather than what it'd look like on the foundation site.

[2021-03-15 18:24] benoitc commented on #279
related to it there is the discussion about the  blog platform erlef/infra-wg#42. We already discussed about but maybe each WG should be able to communicate on their own section.

[2021-03-15 18:24] #278 closed

[2021-03-15 18:29] benoitc commented on #279
I agree, and we should have default websites. I am expecting however that a WG communicate a minimum about its work. The intent here is to make it easy for the wg to do it. What I am suggesting, is to have that WG as a first entry in the website and have their projects directly visible /linked/presented on their sections.

[2021-03-15 22:39] benoitc commented on #279
the issue has been opened sometimes ago : infra-wg/issues#24 I do think we can make some kind of page that represent the activity of a group without giving to the chair too much work to do it. That will provide more visibiity to outside. @ferd what about a simple way to post a news/events and add resources links?

[2021-03-15 22:55] ferd commented on #279
Possibly, though aside from meetings there aren't a ton of events for us to post at this point, but that might be different from say, the education WG.

[2021-03-15 23:06] benoitc commented on #279
@ferd yes , i don't think it should be obligatory to fill everything as well. For me it's more about building a complete profile/status page by WG which could display the following infos:

* Next meeting
* how to contact (already there but not editable) / discuss
* Links to external resources editable
* Possibility to add a news linked there and on the blog
* Last update/report from the group

I w

[2021-03-15 23:08] benoitc opened #282 "add working group calendar to the wg page"
Right now the calendar os only shown on the main page. But it would be useful to also find it on the wg page. Sone someone can ask to join the events. Thoughts?

[2021-03-16 00:23] starbelly commented on #282
We were showing this, but it was removed because you would click on a working group's calendar and see two events. I think you may have commented that it may not be that useful.

That said, I'm ok with putting it back if we think it's useful.

[2021-03-16 00:29] starbelly commented on #279
Yeah, so what you said above is the direction the working group pages are moving. For example, @benoitc if you login to the site you should see a manage link if you go to the infra group. This currently allows you to adjust a few meta attributes, edit the charter, make contributors chairs (or remove them as chairs), etc. More needs to be done, but yeah. The next thing that will be coming out is th

[2021-03-16 01:13] starbelly commented on #209
So, at least for the moment, this won't be happening and to reduce clutter on the list I'm going to close this as stale. We can always revisit this issue in the future though.

[2021-03-16 01:13] #209 closed

[2021-03-16 01:14] starbelly commented on #207
Closing as obsolete. This issue is obsolete per the news tip feature.

[2021-03-16 01:14] #207 closed

[2021-03-16 01:16] starbelly commented on #222
This has been discussed a few times over now. We will accept events from anonymous sources via email now, but priority is given to members who submit events on the site. Closing this as resolved per the email capability.

[2021-03-16 01:16] #222 closed

[2021-03-16 01:16] starbelly commented on #208
Closing this as stale.

[2021-03-16 01:16] #208 closed

[2021-03-16 01:17] starbelly commented on #120
Yes, I think this is resolved by other commits and issues. @benoitc if you still feel something is missing please re-open or open more specific issues.

[2021-03-16 01:19] paulo-ferraz-oliveira commented on #208
Bryan, I've seen bots do the same you're doing here. Do we want to continue doing it by hand, or potentially explore that? (I'm not sure if they're externally triggered, but would assume some type of TTL after which issues are closed).

[2021-03-16 01:23] starbelly commented on #208
@paulo-ferraz-oliveira I'm not opposed to that.

[2021-03-16 01:56] starbelly commented on #199
This issue is in limbo at the moment per the discussion around blog solutions here : https://github.com/erlef/infra-wg/discussions/47

[2021-03-16 01:56] #199 closed

[2021-03-16 02:47] benoitc commented on #279
I will check. But these features should really be documented and
communicated openly somewhere so everyone know about them .

Before creating tickets. I would like to grasp a general feeling about it.
This is the intent of this ticket. Of course we can split it in different
tasks later.

On Tue 16 Mar 2021 at 01:29, Bryan Paxton ***@***.***> wrote:

--
Sent from my Mobile

[2021-03-16 02:50] starbelly commented on #279
communicated openly somewhere so everyone know about them .

I don't disagree with that.

[2021-03-16 02:53] benoitc commented on #282
AFAIK I pointed  the way the another org was doing by showing the next coming event.IMO something similar would also work. Would it be simpler?

[2021-03-16 03:00] benoitc commented on #120
I still think we should advertise the

[2021-03-16 03:16] benoitc commented on #120
we discussed about it on a chat  but right  let’s be more specific.

When subscribing to the « newsletter » in contact page it would be interesting to describe what kind of news are expected and their fréquence. also as some other site do we could add a way to unsubscribe to it from the website.

as for the chats. We didn’t opened yet at that time the slack, but I was thinking to describe its exis

[2021-03-16 03:24] starbelly commented on #120
That makes sense and I agree. And reminds me of another issue we have, but I will open that one on infra around newsletters.

Right now we do the bare minimum, which is for every working group that has a slack channel there is a link that shows up on the working group page :

<img width="1201" alt="Screen Shot 2021-03-15 at 10 20 15 PM" src="https://user-images.githubusercontent.com/39971740/11125

[2021-03-16 05:28] starbelly opened #285 "Add generic server to poll wildapricot database ever N hours and sync with database"
In order to ensure we are in sync with the wildapricot membership database, we need to create a generic server that polls said database every 12 hours or so. This is currently not of a high priority since a member is synced on every login and we currently have no background jobs.

[2021-03-16 07:55] benoitc commented on #120
This issue is disconnected from #273. The intent is about showing the
status of a working group and allowing it. To communicate/show/collect
their activity regularly for the members and people interested in the
foundation.

 as it has been said recently at the Codebeam, working groups which handle
most of the projects, are one of the main part of the foundation  and I
feel we should make them the

[2021-03-16 15:56] starbelly commented on #120
All in due time my friend, but yes, we want to empower working groups with the tools they need to add/change things within their group(s) and for the site. No disagreement there.

[2021-03-18 00:28] starbelly opened #287 "Add blogs section to the community page"
A blogs section should be added to the community page, it may be there should be sub-sections, but it's not clear yet :

We can use sources gathered in the marketing wiki as a start : https://github.com/erlef/marketing-wg/wiki/Community-Sources

[2021-03-18 00:32] starbelly opened #288 "Replace mailchimp form with a join us! link"
We're officially getting away from mailchimp. We need to remove instances of the mailchimp subscribe form and replace with a join us link and some verbiage about joining us to get updates (newsletters). Becoming a basic member opts you in automatically to emails and newsletters we send out from wildapricot and it is free.

[2021-03-18 01:02] starbelly opened #289 "Affiliates page"
There are some associations that link to us and we should link back to them, this would be the start of an affiliates program.

We need a simple page listing our affiliates with links back to their sites, below is a list of affiliates we can start with :

 - elixir-lang.org
 - erlang.org
 - https://www.ow2.org/view/Membership_Joining/Associate_Organizations

 The page should also have a link to a

[2021-03-29 19:54] ahw59 opened #300 "Moving 'Events" to a top level tab"
Is it possible to create a top level tab to the 'Events' page in the 'Join Us! Sponsors ... Log in' ribbon

[2021-03-29 19:59] starbelly commented on #300
@ahw59 We can and it was that way, but the top menu started to get very cluttered. That said, I don't have strong feelings.

[2021-03-29 20:23] paulo-ferraz-oliveira commented on #300
FWIW, it's already in Resources > Events. And the main page has a (quite visible) "View All Events →" element.

[2021-03-30 18:02] ahw59 opened #303 "Can we confirm that the Event Submission form sends an email acknowledegement ?"
Miriam and I were on a call with the **_ElixirAfrica_** folks today. They asserted that they tried to post to the form (https://erlef.org/event_submissions/new) about 3 weeks ago, and nothing happened.

Can we confirm that the following happen:
1) that after pressing 'Submit' the page says "we will send an acknowledgement email to your login email. The email will come from <???@erlef.org>, please

[2021-03-30 18:12] starbelly commented on #303
@ahw59 No event ever came through FWIW. That said, I believe we are still not sending out a notification to admins about the event submission. Also, FWIW, I submitted events myself 3 weeks ago and there were no issues.

Also, FWIW :) The events submission form needs a lot of UI/UX love.

Let me get the notification problem sorted, all that said.

[2021-03-30 18:33] #300 closed

[2021-03-30 21:00] starbelly opened #306 "Add preview section on events submission form"
Currently when submitting an event you don't get to see what that will look like until after the event is submitted and what's more approved. It would be quite nice to add a preview "pane" if you will that shows the two different ways your event will be displayed. Small card view (like on the front page of the site) and large card view (like when you go to https://erlef.org/events/).

This seems t

[2021-04-01 02:22] starbelly opened #317 "Setup website preview instances for pull requests"
In order to ease collaboration around visual changes we should try to make use of gigalixir to facilitate preview instances. This will require re-setting up our account with gigalixir. [Here](https://github.com/gigalixir/gigalixir-getting-started/blob/42a73c9e0f7de50cbfabd092a504aa454f9f9fc8/.gitlab-ci.yml) is an example to go by.

[2021-04-06 12:17] davydog187 commented on #306
Started work on this in #321

I'm reworking the rendering of the public-facing event page such that it renders from a live view, which will probably delegate to something that the Admin can use for preview.

[2021-05-04 18:34] adolfont opened #335 "Add free link to recent paper that is already on the Academic Papers section"
A Gradual Type System for Elixir
Mauricio Cassola, Agustín Talagorria, Alberto Pardo, Marcos Viera
Now on Arxiv.
https://arxiv.org/abs/2104.08366
#MyElixirStatus
#WeBeamTogether

[2021-06-05 07:54] juhalehtonen commented on #287
FYI, I started looking into this one just to get my feet wet with how the website is built :)

[2021-06-08 13:09] juhalehtonen commented on #287
My MR is pending for copy. Shall I simply suggest something in there, or do you want to have a say about them up front? :)

[2021-06-08 17:43] starbelly commented on #287
@juhalehtonen I would go ahead and write something about them, then we can review.

[2021-06-12 01:39] joaquinalcerro commented on #289
Should we add a page similar to the Community one for Affiliates?

[2021-06-12 19:36] starbelly commented on #289
@joaquinalcerro  I think the affiliates page should be its own page that we can link to in the navbar or footer (or both).

[2021-06-16 08:43] juhalehtonen commented on #287
Whoops, forgot to add a description that would have auto-closed this one :)

[2021-06-17 14:40] juhalehtonen opened #344 "Header navigation bar overflows in certain screen sizes"
**Problem**
Currently the navigation bar can overflow in certain "small laptop / tablet" window sizes due to the number of items present and the breakpoint assigned for the navbar.

**Solution proposal**
The easiest way this can be addressed is by changing the `navbar-expand-md` class in `lib\erlef_web\templates\layout\header.html.eex` to `navbar-expand-lg` or `navbar-expand-xl`.

**Further discus

[2021-06-17 15:08] juhalehtonen commented on #288
I'll have a look at this :)

[2021-06-18 00:44] starbelly commented on #344
I agree and to note we talked about moving away from bootstrap as well to tailwind or at least bootstrap 5.

[2021-06-18 00:44] #288 closed

[2021-06-18 08:09] juhalehtonen commented on #287
Just poking you @starbelly as a friendly reminder that this issue can be closed :-)

[2021-06-18 15:28] starbelly commented on #287
Thanks :)

[2021-06-18 15:28] #287 closed

[2021-06-21 16:56] juhalehtonen commented on #237
Should we make a distinction between paid and free materials on the website?

Either way, to kick off the listing, here's a few resources I've run into:

* [Learn You Some Erlang for Great Good](https://learnyousomeerlang.com/) is a classic Erlang text
* [Stuff goes bad: Erlang in Anger](https://www.erlang-in-anger.com/) is another classic text, but has a very specific focus on production systems

[2021-06-22 00:16] starbelly commented on #237
Yeah, we may want to make that distinction, same as we do for academic papers :

Here's a few more too :

- [Spawned Shelter](https://spawnedshelter.com/) - Erlang and Elixir training with the the best ...
- [Adopting Erlang](https://adoptingerlang.org/) - Adopting Erlang is an ongoing effort to gather all the resources that will help you use Erlang in a business.
- [Elixir School](https://elixirs

[2021-06-22 00:22] starbelly commented on #237
And some more (courses) :

[Functional Programming in Erlang,](https://www.futurelearn.com/courses/functional-programming-erlang)  - Learn the theory and practice of functional programming in Erlang, by University of Kent.
[Functional Programming with Erlang](https://www.youtube.com/playlist?list=PLlML6SMLMRgAooeL26mW502jCgWikqx_n) - a free online course for beginners by University of Kent (videos

[2021-06-27 19:30] joaquinalcerro commented on #289
I think we can close this issue @starbelly . 👍

[2021-06-28 00:58] starbelly commented on #289
Indeed. Closed via #347

[2021-06-28 00:58] #289 closed

[2021-07-21 19:00] starbelly opened #354 "Keeping sessions alive longer"
Currently and per wildapricot as the oauth provider, the max ttl time on a session is extremely short (15 minutes). This issue has been created to go over ideas of how we might be able to extend sessions securely.

Currently, if you make requests within that ttl you, we refresh with wildapricot, and extend the session. However, if you say don't do anything for 16 minutes, then perform a request, y

[2021-07-22 18:20] voltone commented on #354
Why worry about the wildapricot token expiry once you've fetched the user details? You can just fetch the user information once, upon completion of the sign-in flow, then maintain a session with the user independent of wildapricot. That's how OIDC works, and I'm sure it's what Wordpress plugins etc. do when integrating with wildapricot. They do call their OAuth server an "SSO" service, after all:

[2021-08-07 17:47] starbelly commented on #354
@voltone sorry, I pinged you and then I'm quite late to respond. Yeah, we currently operate the way you described above exactly. We of course follow best practices, keep the session in the db, etc.

I suppose we could not depend on the ttl of the token, and instead simply query wildapricot to make sure the user making a request isn't deactivated, has had their role changed, etc.

[2021-09-09 15:03] peerst opened #366 "Make Slack Invite Link Easier to Discover"
Suggestion: People have a hard time finding their Slack invite button (guided someone for the nth time there)

Maybe add it to a separate menu point or make it more discoverable otherwise?

[2022-02-07 09:01] elbrujohalcon opened #380 "Add Hank's paper to the list of Academic Papers"
[This paper](https://arxiv.org/abs/2107.08699) is missing in [this list](https://erlef.org/academic-papers/).

[2022-02-09 02:29] starbelly commented on #380
It's up there now :) Make sure everything is correct before I close this out please.

[2022-02-12 20:39] #380 closed

[2022-03-24 14:39] pdgonzalez872 opened #393 "Add new academic paper on Elixir"
Could you please add https://arxiv.org/pdf/2203.08877.pdf to our list of academic papers? Thanks!

[2022-04-19 12:48] adolfont opened #397 "Add "Code Smells in Elixir: Early Results from a Grey Literature Review" to the list of Academic Papers"
Link: https://arxiv.org/abs/2203.08877

[2022-04-19 13:09] pdgonzalez872 commented on #397
Dupe? https://github.com/erlef/website/issues/393

[2022-04-19 14:37] #397 closed

[2022-04-19 14:38] adolfont commented on #393
It is always better to add a link to the main page, not the PDF
https://arxiv.org/abs/2203.08877

[2022-05-04 14:38] janpieper opened #398 "No SSL for OtoloNetworks (sponsor) website"
That's what you currently get, when clicking the `OtoloNetworks` sponsor logo on the [erlef.org](https://erlef.org/#colophon) website:

**Website - SSL issue**

<img src="https://user-images.githubusercontent.com/426371/166700866-80cef5b2-853d-4d01-9368-4ecb3e9b8610.png" width="300">

**SSL certificate**

<img src="https://user-images.githubusercontent.com/426371/166700861-fe1a6bd5-5904-440c-822c-

[2022-05-04 16:16] janpieper opened #401 ""Up and running" incomplete?"
For #400 I wanted to run the website locally to see my changes before creating a PR, but I wasn't able to do so :man_shrugging:

It feels like the [Up and running](https://github.com/erlef/website#up-and-running) section in the README is incomplete :thinking:

When following the documented steps, I end up with this, when visiting http://localhost:4000:

<img src="https://user-images.githubusercont

[2022-05-04 23:38] starbelly commented on #401
I just built from scratch and did find an issue. There's a missing js dep that's needed for a feature on main (not in production yet). While I don't see an error related to the missing dep in the above, I wonder if this is the problem.

FWIW the error is :

[code]

I just merged a PR that adds said missing dep. Could you try doing a git pull and seeing if that resolves the issue?

[2022-05-05 08:51] janpieper commented on #401
No difference so far... Can you please check the version of Node.js you're using :thinking: I am using the tools configured in the `.tool-versions` file. Maybe you're using a different (newer?) version of Node.js. I've seen some articles suggesting to upgrade Node.js to "fix" this issue or at least to get more details about the root cause.

[2022-05-07 18:58] starbelly commented on #401
That would be the issue. The `.tool-versions` was put in place for other folks that use asdf. I personally don't, and so this file fell behind. Try version `18.1.0` and feel free to open a PR for this and if you find gaps in the README as far as up and running we will gladly accept changes in that area too :)

[2022-05-12 07:23] pablocostass opened #403 "Cannot submit stipend through the website"
Hello there!

I tried submitting a conference stipend proposal using the form available at https://erlef.org/stipends/form?type=conference, yet every time I tried I got a "413 Request Entity Too Large" response.

I would expect this to happen when the file attachment exceed the limit of 8MB, yet the only attachment my proposal had was of 3.7MB.

I have been told about other ways of sending the sti

[2022-08-02 23:54] starbelly commented on #398
Hi @janpieper  I think it is, I'll get in touch with the owner to see if they can rectify it.

[2022-09-28 20:56] adolfont opened #419 "Two papers to add to https://erlef.org/academic-papers/"
CauDEr: A Causal-Consistent Reversible Debugger for Erlang
https://link.springer.com/chapter/10.1007/978-3-319-90686-7_16

[A theory of reversibility for Erlang](https://www.sciencedirect.com/science/article/pii/S2352220817301402)

[2022-10-31 18:36] starbelly commented on #419
I know you opened this quite a while ago. I'll get these added soon.